{% extends "base.html" %}

{% block main %}
    <div id="text">
        <br />MovieSneaker tells you when you should go to the movies if you want to see multiple films on
        one ticket.<br /><br /> (Unscrupulously.)
    </div>
    <div id="form">
        <br />
        <form enctype="multipart/form-data" action="." method="POST">
            {% csrf_token %}
            {{form.errors}}
            <input type="zipcode" name="zipcode" id="zipcode" minlength="5" maxlength="5" placeholder="What's Your Zipcode?"><br /><br />
            <input type="submit" name="submit" id="submit" minlength="3" value="Submit!" ></input>
        </form>
    </div>
{% endblock main %}